<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <servlet-class>WelcomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDatabase</servlet-name>
        <servlet-class>CreateDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseCreated</servlet-name>
        <servlet-class>DatabaseCreated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTable</servlet-name>
        <servlet-class>CreateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableCreated</servlet-name>
        <servlet-class>TableCreated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTable</servlet-name>
        <servlet-class>AddTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDatabases</servlet-name>
        <servlet-class>ShowDatabases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTables</servlet-name>
        <servlet-class>ShowTables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTableData</servlet-name>
        <servlet-class>ShowTableData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataInserted</servlet-name>
        <servlet-class>DataInserted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/WelcomePage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>WelcomePage</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>CreateDatabase</servlet-name>
        <url-pattern>/CreateDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseCreated</servlet-name>
        <url-pattern>/DatabaseCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTable</servlet-name>
        <url-pattern>/CreateTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableCreated</servlet-name>
        <url-pattern>/TableCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTable</servlet-name>
        <url-pattern>/AddTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDatabases</servlet-name>
        <url-pattern>/ShowDatabases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTables</servlet-name>
        <url-pattern>/ShowTables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTableData</servlet-name>
        <url-pattern>/ShowTableData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataInserted</servlet-name>
        <url-pattern>/DataInserted</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
